
<%- include('header'); -%>

<body >
    <div class="padding">
        <h1><%=title%></h1>
        <ol>
            <% items.forEach(function(item){ %>
                <!-- Loop throgh the list of items  -->
                <div class="form-check">
                    <form action="/Delete" method="POST" >
                        <input class="form-check-input"  name="mycheckbox" type="checkbox" value="<%= item._id %>" id="defaultCheck1" onChange="this.form.submit()"  data-valuetwo="1" >
                        <label class="form-check-label" for="defaultCheck1" >
                            <%=item.Name%>
                        </label>
                        <!-- Added extra input type= hidden to pass another value to app.js  -->
                        <input type="hidden" name="checkbox2" value=<%= title %> >
                    </form>
                    <hr>
                  </div>
            <% }); %>
        </ol>
        <form class="padding " action="/" method="POST" >
            <input type="text" name="todoitem" placeholder="Add To-Do Here" value="">
            <button  class="myButton" type="submit" name="button" value=<%= title %> >Add</button>
        </form>
    </div>

    

    
</body>


<%- include('footer'); -%>