
<%- include('head'); -%>

<body>

    <section class="colored"  id="title">
            <div class="container-fluid">
            <!-- nav  -->
                <%- include('nav'); -%>
            <!-- Title -->
                <%- include('title'); -%>
            </div>
    </section>



    <!-- details_section -->
    <section class="whitecolor"  id="details_section">
        <%- include('details'); -%>
    </section>



    <!-- project  -->
    <section class="colored"  id="projects">
        <h5><i class=" fas fa-head-side-virus"></i>  PROJECTS</h5>
    </section>
    <!-- projects -->
    <section class="colored"  id="testimonials" data-ride="false" data-interval="false" >
        <%- include('projects'); -%>
    </section>



    <!-- organizations -->
    <section class="whitecolor" id="org_section">
        <%- include('organizations'); -%>
    </section>



    <!-- summary -->
    <section  class="colored" id="summary">
        <%- include('summary'); -%>
    </section>



    <!-- Footer -->
    <section class="whitecolor" >
        <!-- <%#include('footer'); -%>  -->
    </section>


    
</body>
<%- include('footer'); -%>

</html>
